# Node modules
node_modules/

# Build output
build/
dist/

# Logs
*.log
logs/

# Environment files
.env

# IDE/editor specific files
.vscode/
*.sublime-workspace
*.sublime-project

# OS specific files
.DS_Store
Thumbs.db

# npm package lock file (optional)
package-lock.json

# Test coverage reports
coverage/

# Temporary files
tmp/
temp/
*.tmp

# Miscellaneous
*.tgz
*.gz

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
openbb_service/venv/
